html {
    min-height: 100%;
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    background: #d7e8ff;
}

.container {
    display: block;
    background: white;
    padding: 2em;
    margin: 40px 0;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 320px;
}

.container h2 {
    text-align: center;
    color: #14407d;
    margin-top: 15px;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
    color: #555;
}

.input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 2px solid #97b0d2;
    background-color: white;
    box-sizing: border-box;
}

.enter, .exit {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #539bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.enter:hover, .exit:hover {
    background-color: #4483da;
}

.exit {
    margin-top: 50px;
    background-color: #e46c6c;
}

.exit:hover {
    background-color: #e15353;
}